<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

    <targets>
      <target name="logfile"
              xsi:type="File"
              archiveAboveSize="52428800"
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              fileName="${basedir}/CityWatch.Server.log"
              layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" />
      <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logconsole" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>